asgiref==3.2.3
bcrypt==3.1.7
cffi==1.13.2
Django==3.0.3
django-redis==4.11.0
django-redis-cache==2.1.0
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
hasher==2.0.1
psycopg2==2.7.7
psycopg2-binary==2.8.4
pycparser==2.19
PyJWT==1.7.1
pytz==2019.3
redis==3.4.1
six==1.14.0
sqlparse==0.3.0
